<!-- 3/7 TBB editing, ran into npm error !-->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fit To Go</title>
  <link rel="stylesheet" type="text/css" href="/public/css/jass.css">
</head>

<body>
  <header class="display-flex justify-space-between align-center p-2">
    <h1>Fit To Go</h1>
      <h2>Login or create an account!</h2>

    {{#if loggedIn}}


    <button class="btn" id="logout" >Logout</button>
    
    {{/if}}
  </header>

  <main class="container container-fluid mt-5">
    {{{ body }}}
  </main>
  
  <script src="/js/logout.js"></script>
  
</body>

</html>
