<!-- Loop over each object in the workouts array-->
<h1>{{user.name}}</h1>
{{#each exercises as |exercise| }}

 <div class="card">
  <div class="card-content">
    <div class="content">
      <p>{{exercise.name}}</p>
      <p>{{exercise.description}}</p>
    </div>
  </div>
</div>

{{/each}}