<!-- Loop over each object in the workouts array-->
<nav>
  <!-- Conditionally render login or logout links -->
  
  <button class="no-button" id="logout">logout</button>
</nav>
<h1>{{user.name}}</h1>
{{#each exercises as |exercise| }}

 <div class="card">
  <div class="card-content">
    <div class="content">
      <p>{{exercise.name}}</p>
      <p>{{exercise.description}}</p>
    </div>
  </div>
</div>

{{/each}}
