body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: Arial;
  background: linear-gradient(rgb(0, 0, 100), rgb(167, 250, 119));
}

header {
  padding: 40px;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  color: white;
}

h1{
  font-weight: lighter;

}

main {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
}

.container {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  margin: 75px;
  
  
}

.login-card {
  margin: 0 0 20px 0;
  flex: 0 0 50%;
  max-width: 50%;
  padding: 5px;
  border: 3px;
  border-radius: 10px;
  background-color: white;
  color: black;
  text-align: center;
}

.page-title {
  padding: 5px;
  font-weight: lighter;
}